* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --mainColor: #d92228;
    --lightColor: #fff;
    --darkColor: #000;
}
.header {
    position: relative;
    width: 100%;
    height: 50px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 5px 8%;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0.5px 8px rgba(0, 0, 0, 0.2);
}
.header .header__left-logo {
    display: flex;
    align-items: center;
    width: 160px;
    height: 46px;
}
.header__right {
    /* display: flex;
    align-items: center; */
}
.header .header__right-menu {
    display: flex;
    margin-right: 20px;
}
.header__right-menu .menu__item {
    padding: 12px 0px;
    margin: 16px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}
.menu__item:hover {
    border-bottom: 3px solid var(--mainColor);
}
/* mega menu */
.mega:hover .mega__menu {
    display: flex;
}
.mega__menu {
    display: none;
    min-height: 250px;
    height: fit-content;
    background-color: var(--lightColor);
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    justify-content: space-around;
    padding: 20px 0px;
    transition: all 0.5s ease;
    box-shadow: 0.9px 0px 9px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.mega__title {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 20px;
}
.mega__item {
    padding: 0 0 10px 0;
    cursor: pointer;
}
.menu__item.menu__login {
    background-color: var(--mainColor);
    color: var(--lightColor);
    font-weight: 600;
    border-radius: 20px;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
}
.login__item + .login__item {
    margin-left: 20px;
}
.login__signIn {
    cursor: pointer;
}
.login__signUp {
    cursor: pointer;
    padding: 3px 6px 6px 6px;
    background-color: var(--mainColor);
    border-radius: 10px;
    font-size: 14px;
    color: var(--lightColor);
    font-weight: 600;
}
/* css cho hero sliderr search */
.hero {
    width: 100%;
    height: 450px;
    position: relative;
}
.hero .hero__img {
    width: auto;
    height: 100%;
}
.hero__img > img {
    height: 100%;
    width: 100%;
}
.hero .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--lightColor);
}
.hero__content .hero__title > h2 {
    letter-spacing: 5px;
    font-size: 48px;
    font-weight: 600;
}
.hero__content .hero__title > p {
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 640;
    margin: 20px 0px;
}
.hero__navbar .navbar__content {
    display: flex;
    justify-content: space-around;
}
.navbar__content .navbar__item {
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0px;
    cursor: pointer;
}
.hero .hero__search {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 0000999999999px;
    /* overflow: hidden; */
    margin: 20px 0px;
}
.hero__search .search__input {
    width: 100%;
    /* height: 100%; */
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 0000099999999999px;
    color: var(--darkColor);
    outline: none;
    /* min-width: 523px; */
}
.hero__search .search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 22px;
    top: 4px;
    right: 4px;
    height: 52px;
    width: 52px;
    background-color: var(--mainColor);
    padding: 12px 12px 10px 15px;
    border-radius: 60%;
    cursor: pointer;
}
/* responsive cho header*/
/* @media (max-width: 1023) and (min-width: 768) {
    .header .header__right {
        display: none !important;
    }
} */
/* xử lý login */
/* từ đoạn này sẽ dùng thư viện tailwindcss */
/* css maps */
.leaflet-container {
    height: 100% !important;
    border-radius: 10px;
    box-shadow: 1px 1px 5xp rgba(0, 0, 0, 0.5) !important;
}
/* slider using react-slick */
.thumbnail-slider-wrap {
    margin-top: 15px;
    height: 85px;
}
.thumbnail-slider-wrap .slick-track .slick-slide {
    text-align: center;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
    width: 70%;
}
.slick-slide {
    visibility: hidden;
}
.slick-slide.slick-active {
    visibility: visible;
}
